<ion-header>
  <ion-toolbar>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
          <ion-item no-padding *ngFor="let post of posts" (click)="loadThisNews(post)">
              <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>{{ post.author }}</ion-card-subtitle>
                    <ion-card-title>{{ post.title }}</ion-card-title>
                  </ion-card-header>
                
                  <ion-card-content>
                    {{ post.description }}
                  </ion-card-content>
                </ion-card>
          </ion-item>
          <ion-button (click)="LoadMoreNews()">Load more</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
